[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/asio"]
	path = External/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "tools"]
	path = tools
	url = https://github.com/mediaz/tools
[submodule "Shaders"]
	path = Shaders
	url = https://github.com/mediaz/shaders
